@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: #191919;
    --fore-color-rgb: #bebebe;
    --yellow-color: #ffd600;
    --red-color: #5d0914;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: #191919;
        --fore-color-rgb: #bebebe;
    }
}

body {
    color: var(--fore-color-rgb);
    background: var(--foreground-rgb);
}

.text-active,
.text-hover:hover {
    color: var(--yellow-color);
}
.bg-yellow {
    background-color: var(--yellow-color);
}
